/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  font-variation-settings: 'wght' 400;
  background-image: var(--background-img);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  inline-size: min(100vi, 700px);
  margin: 100px auto;
  font-family: var(--accent-font-family), fantasy;
  border: 2px solid #000;
  background-color: #fff;
  padding: 120px 14px;
  text-align: center;
  font-size: var(--title-font-size);
  text-transform: uppercase;
  display: grid;
  gap: 20px;
}

.header__title {
  font-size: clamp(49px, 3vw + 20px, 65px);
}

.subtitle {
  font-size: clamp(14px, 1.2vw + 10px, 23px);
}

.posts {
  max-inline-size: var(--card-width);
  gap: 50px;
  display: grid;
  inline-size: min(100vi, 700px);
  margin: 100px auto 50px;
}

.post {
  background-color: #fff;
}

.title {
  border: 2px solid #000;
  padding-inline-start: 10px;
  font-variation-settings: "wght" var(--heading-weight);
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 10px;
}

.card__image {
  position: relative;
  outline: 1px solid #000;
}

.image {
  object-position: center;
  object-fit: cover;
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  outline: 2px solid var(--contour-color, #000);
  outline-offset: -2px;
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-invert {
  filter: invert(25%);
}

.filter-contrast-hue-rotate {
  filter: contrast(140%) hue-rotate(25deg)
}

.filter-saturate {
  filter: saturate(123456789);
}

.filter-sepia {
  filter: sepia(15%);
}

.filter-grayscal {
  filter: grayscale(15%);
}

.filter-blur-brightness {
  filter: blur(0.05rem) brightness(120%);
}

.filter-contrast {
  filter: contrast(120%);
}

.watermark {
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  position: absolute;
  inset-block-start: 23px;
  inset-inline-end: 12px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 var(--text-shadow, rgb(255 255 255 / 0.5)), 
  0 1px var(--text-shadow, rgb(255 255 255 / 0.5)), 
  1px 0 var(--text-shadow, rgb(255 255 255 / 0.5)), 
  0 -1px var(--text-shadow, rgb(255 255 255 / 0.5));
}

.content {
  border: 2px solid var(--contour-color, #000);
  border-block-start: none;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.paragraph {
  margin-bottom: 28px;
}

.button__text {
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lowercase {
  text-transform: lowercase;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  border-color: #000;
  transition: border-color 0.3s ease;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.button {
  position: relative;
  background-color: #fff;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  overflow: hidden;
  font-family: var(--accent-font-family);
  font-size: 14px;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline 0.3s linear;
  color: currentColor;
}

.button::before {
 content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #fff;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  pointer-events: none;
  mix-blend-mode: difference;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px solid  transparent ;
  padding: 0;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button, .like-icon {
  cursor: pointer;
  background-color: transparent;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--contour-color, #000);
  transition: box-shadow 0.3s ease;
}

.main-end-button {
  display: grid;
  gap: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  place-items: center;
  inline-size: 306px;
  margin: 0 auto 100px;
}

.dialog-id[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-color, #000);
  background-color: #fff;
}

.dialog-card[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-card {
  padding: 0;
  max-inline-size: 357px;
  inline-size: calc(100% - 40px);
  font-family: var(--accent-font-family);
}

.window__correction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin: 30px;
}

.dialog_content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.dialog-button {
  padding: 8px 0;
  inline-size: 257px;
}

.save-icon {
  inline-size: 21px;
  block-size: 21px;
}

.dialog-save-icon {
  inline-size: 39px;
  block-size: 39px;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

@media (width>375px) {

  .main-end-button {
    inline-size: 355px;
    display: flex;
    gap: 10px;
  }
}